/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
    background-color: rgb(58, 85, 100);
    min-width: 800px;
}

.sheet-singlerow {
    display: grid;
    grid-template-columns: 100%;
}

.sheet-grid-section1{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.sheet-grid-section2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.sheet-clearencecard {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-slalogo {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-ratings {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-stats {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-skills {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-traits {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-weapons {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}

.sheet-notes {
    border: 1px solid rgb(250, 250, 250);
    border-radius: 8px;
    margin: 1px 1px 1px 1px;
    padding: 1px 3px 1px 3px;
}
/* Universal styling applied to all elements of these types */

h2 {
    font-size: 150%;
    margin-bottom: 0px;
    text-align: left;
    color: rgb(250, 250, 250);
}

h3 {
    font-size: 100%;
    text-align: left;
    color: darkgray;
}

hr {
    margin: 5px;
}

label {
    display: inline-block;
    width: 31%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(250, 250, 250);
}


input {
    display: inline-block;
    width: 165px;
}

span {
    color: rgb(250, 250, 250);
}

img {
    max-height: 100px;

}

textarea {
    resize: vertical;
}

/* Targetted styling that only effects elements with these classes */

.sheet-selectrace {
    vertical-align: top;
    width: 120px;
    padding: 0px;
    margin: 0.5px 0px 2px -4px;
}

.sheet-scl {
    width: 60px;
}

.sheet-slalogo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.sheet-inputactionrolls {
    display: inline-block;
    font-size: 80%;
    padding: 1px;
    margin: 0px 10px;
    box-sizing: border-box;
}

.sheet-labelactionrolls {
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    color: darkgray;
    font-style: italic;
}

.sheet-selectactionrolls {
    width: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    height: 22px;
    font-style: italic;
}

.sheet-statlabel {
    display: inline-block;
    width: 40px;
}

.sheet-statinput {
    margin: 0px 20px 0px 0px;
}

.sheet-skillname {
    width: 250px;
}

.sheet-skillstat {
    vertical-align: top;
    width: 70px;
}

.sheet-traitname {
    width: 350px;
}

.sheet-drugname {
    width: 350px;
}

.sheet-movementlabel {
    display: inline-block;
    width: 50px;
}

.sheet-movementinput {
    margin: 0px 20px 0px 0px;
}

.sheet-wpnnamelabel {
    width: 200px;
}
.sheet-wpnname {
    width: 200px;
}

.sheet-wpndmglabel {
    width: 40px;
}
.sheet-wpndmg {
    width: 50px;
}

.sheet-wpnmindmglabel {
    width: 30px;
}
.sheet-wpnmindmg {
    width: 10px;
}

.sheet-wpnadlabel {
    width: 30px;
}
.sheet-wpnad {
    width: 10px;
}




.sheet-notes {
    width: 99%;
}